@charset "utf-8";

* {
    padding: 0px;
    margin: 0px;
}

img {
    width: 150px;
    height: 200px;
}

body {
    width: 80%;
    margin: auto;
    padding: 30px;
    font-size: 25px;
    font-family: cursive;
}

.brdr {
    border: 2px solid #000;
    height: auto;
    width: auto;
}

.dv1 {
    float: left;
}

.dv2 {
    float: right;
}

@media(max-width:414px) {
    * {
        font-size: 14px;
        text-align: justify;
        min-width: 193px;
    }

    body {
        margin-right: 20%;
    }

    h2 {
        text-align: center;
    }

    img {
        width: 100%;
    }

    p {
     padding: 10px 10px 10px 0px;
    }

    .brdr {
        height: auto;
        margin-bottom: 5px;
    }
}