@charset "utf-8";

h1 {
    padding: 1em;
    border-bottom: 2px solid;
    background-color: darkblue;
    color: white;
}

h2 {
    padding: 1em;
    border-bottom: 2px double red;
    background-color: darkblue;
    color: white;
}

p {
    font-family: cursive;
    color: white;
}

img {
    alt: "Naruto";
    height: 240px;
    width: 320px;
}

figure {
    width: 320px;
    padding: 5px;
    border: 2px solid white;
}

figcaption {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    color: white;
}

.imgfundo {
    background-image: url('background.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer {
    color: white;
}
