@charset "utf-8";

.container {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
    gap: 10px;
}

.item_1 {
    border: 1px solid #000;
    background-color: gold;
}

.item_2 {
    border: 1px solid #000;
    background-color: greenyellow;
}

.item_3 {
    border: 1px solid #000;
    background-color: red;
}

.item_4 {
    border: 1px solid #000;
    background-color: blue;
}