@charset "utf-8";

body {
    border: 2px solid;
    padding: 20px;
    margin: 30px;
}

.med1 {
    font-size: 1cm;
}

.flh1 {
    font-size: 1em;
}

.med2 {
    font-size: 2pc;
}

.flh2 {
    font-size: 150%;
}

.med3 {
    font-size: 20px;
}

.flh3 {
    font-size: 2rem;
}

.btao {
    font-size: 28px;
    text-decoration: none;
    color: goldenrod;
    border: 2px solid black;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin: 5px;
    background-color: rgb(236, 236, 236);
    font-weight: bolder;
}